<div class="content" stt="contact" id="contat">
  <div class="container-fluid">
    <div class="col-sm-12 well">
      <div class="col-sm-10">
        <h4><%= t ".ct_title" %></h4>
        <hr>
        <div class="row">
          <div class="col-sm-3">
          <%= image_tag "imgHouse/logo.png" %>
          </div>
          <div class="col-sm-6">
            <p><strong> <%= t ".ct_com" %></strong></p>
              <ul>
                <li><i class="glyphicon glyphicon-map-marker"></i> <strong><%= t ".ct_add" %></strong><%= t ".ct_add_a" %></li>
                <li><i class="glyphicon glyphicon-earphone"></i> <strong><%= t ".ct_phone" %></strong> 0123456789</li>
                <li><i class="glyphicon glyphicon-phone"></i> <strong><%= t ".ct_hot" %></strong> 19001689</li>
                <li><span class="glyphicon glyphicon-open-file"></span> <strong>Fax:</strong> (08)12345678</li>
                <li><span class="glyphicon glyphicon-envelope"></span> Admin@sharoom.com</li>
              </ul>
          </div>
        </div>
        <hr>
        <div class="col-sm-8">
          <h3><%= t ".ct_send" %></h3>
          <p>
            <%= t ".ct_info" %>
          </p>
          <form action="action_page.php">

            <label for="fname"><%= t ".ct_name" %></label>
            <input type="text" id="fname" name="name" placeholder="Your name..">

            <label for="lname"><%= t ".ct_add" %></label>
            <input type="text" id="lname" name="addr" placeholder="Address..">

            <label for="districts"><%= t ".ct_district" %></label>
            <select id="districts" name="districks">
              <option value="s1"><%= t ".ct_a" %></option>
              <option value="s2"><%= t ".ct_b" %></option>
              <option value="s3"><%= t ".ct_c" %></option>
              <option value="s3"><%= t ".ct_d" %></option>
              <option value="s3"><%= t ".ct_e" %></option>
              <option value="s3"><%= t ".ct_f" %></option>
              <option value="s3"><%= t ".ct_g" %></option>
              <option value="s3"><%= t ".ct_h" %></option>
              <option value="s3"><%= t ".ct_i" %></option>
              <option value="s3"><%= t ".ct_j" %></option>
              <option value="s3"><%= t ".ct_k" %></option>
              <option value="s3"><%= t ".ct_l" %></option>
              <option value="s3"><%= t ".ct_m" %></option>
              <option value="s3"><%= t ".ct_n" %></option>
              <option value="s3"><%= t ".ct_o" %></option>
              <option value="s3"><%= t ".ct_p" %></option>
              <option value="s3"><%= t ".ct_q" %></option>
              <option value="s3"><%= t ".ct_r" %></option>
              <option value="s3"><%= t ".ct_s" %></option>
              <option value="s3"><%= t ".ct_t" %></option>
              <option value="s3"><%= t ".ct_u" %></option>
              <option value="s3"><%= t ".ct_v" %></option>
              <option value="s3"><%= t ".ct_x" %></option>
              <option value="s3"><%= t ".ct_y" %></option>
              <option value="s3"><%= t ".ct_z" %></option>
            </select>

            <label for="subject"><%= t ".ct_content" %></label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <input type="submit" value="Submit">

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
