<div class="content" stt="news" id="news">
  <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <div class="well">
          <h4><%= t ".new_title" %></h4>
        </div>
        <div class="well">
          <h4><%= t ".new_new" %></h4>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Post..">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
      </div>
    </div>

    <div class="col-sm-8 well">
      <h4><small><%= t ".new_post" %></small></h4>
      <hr>
      <h2><%= t ".new_a" %></h2>
      <h5><span class="glyphicon glyphicon-time"></span> <%= t ".new_b" %></h5>
      <h5><span class="label label-danger"><%= t ".new_c" %></span> <span class="label label-primary">Ipsum</span></h5><br>
      <p><%= t ".new_d" %></p>
      <br><br>

      <h4><small><%= t ".new_post" %></small></h4>
      <hr>
      <h2>"<%= t ".new_e" %>"</h2>
      <h5><span class="glyphicon glyphicon-time"></span> <%= t ".new_f" %></h5>
      <h5><span class="label label-success"><%= t ".new_c" %></span></h5><br>
      <p><%= t ".new_g" %></p>
      <hr>

      <h4><%= t ".new_h" %></h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success"><%= t ".new_i" %></button>
      </form>
      <br><br>

      <p><span class="badge">2</span> <%= t ".new_h" %></p><br>

      <div class="row">
        <div class="col-sm-2 text-center">
          <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Ly Nguyen <small><%= t ".new_j" %></small></h4>
          <p><%= t ".new_k" %></p>
          <br>
        </div>
        <div class="col-sm-2 text-center">
          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Huy Nam <small><%= t ".new_l" %></small></h4>
          <p><%= t ".new_m" %></p>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
