<div id="page-inner">
  <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="fa fa-list"></i><%= t(".o_title") %></div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><%= t(".o_a") %></th>
              <th><%= t(".o_b") %></th>
              <th><%= t(".o_c") %></th>
              <th><%= t(".o_d") %></th>
              <th><%= t(".o_e") %></th>
            </tr>
          </thead>
          <tbody>
            <% if(!@owner_orders.nil?) %>
                <%= paginate @owner_orders, theme: "twitter-bootstrap-3" %>
                <%= render partial: "owner_order",  collection: @owner_orders, as: "owner_order" %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
  <hr />
</div>
