<% provide(:title, t(".user_title")) %>
<%
    def options_for_status
  [
    ['Khách thuê','customer'],
    ['Chủ nhà','owner']
  ]
end
%>
<div id="login">
  <div class="col-sm-10 well">
    <div class="header_login">
      <%= t ".user_title" %>
    </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user, url: signup_path) do |f| %>
        <%= render "shared/error_messages_users" %>

        <%= f.label :account %>
        <%= f.text_field :name, class: "form-control" %>

        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :phone %>
        <%= f.text_field :phone, class: "form-control" %>

        <%= f.label :address %>
        <%= f.text_field :address, class: "form-control" %>

        <%= f.label :stk %>
        <%= f.text_field :stk, class: "form-control" %>

        <%= f.label :name %>
        <%= f.text_field :account, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <%= f.label :role %>
        <%= f.select :role, options_for_status, {}, prompt: 'Chọn vai trò' %>

        <%= f.hidden_field(:user, :value => params[:role]) %>

        <%= f.submit t ".user_submit" , class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  </div>
</div>

