<tr>
  <td><%= room.name%></td>
  <td><%= room.area %></td>
  <td><%= room.number_room %></td>
  <td><%= room.state %></td>
  <td><%= link_to 'Delete', home, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
