<tr>
  <td><%= room.name%></td>
  <td><%= room.area %></td>
  <td><%= room.number_room %></td>
  <td><% if(!room.image.thumb.url.nil?)%>
    <%= image_tag(room.image.thumb.url, size: "100x100") %>
    <%end%></td>
  <td><%= room.state %></td>

  <td></td>
</tr>
