<div id="page-inner">
  <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="fa fa-list"></i><%= t(".r_title") %></div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><%= t(".r_a") %></th>
              <th><%= t(".r_b") %></th>
              <th><%= t(".r_c") %></th>
              <th><%= t(".r_d") %></th>
              <th><%= t(".r_e") %></th>
              <th><%= t(".r_f") %></th>
            </tr>
          </thead>
          <tbody>

            <%= paginate @rooms, theme: "twitter-bootstrap-3" %>
            <%= render partial: "room",  collection: @rooms, as: "room" %>

          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-success"><i class="fa fa-plus"><%= link_to t(".r_g") , controller: "homes", action: "new_room", id: @home.id %></i></button>
    </div>
  </div>
  <hr />
</div>
