<div class="content" stt="room" id="room">
  <div class="container">
    <div class="row details">
      <div class="col-sm-12 well">
        <div class="header_detail">
            CHI TIẾT
        </div>
        <div class="row">
          <div class="col-sm-4" >
            <div class="imgPost">
              <a href="#"><%= image_tag "imgHouse/post1.jpg" %></a>
            </div>
          </div>
          <div class="col-sm-8 ">
            <div class="well">
              <div class="labelPost">
                <%= form_for :room do |f| %>
                  <%= f.label :Name %>
                  <%= f.label :Address %>
                  <%= f.label :Area %>
                  <%= f.label :Numberroom %>
                  <%= f.label :Price %>
                <% end %>
              </div>
              <div class="contentPost">
                <div class="list-product">
                  <div class="row">
                    <%= @room.name%>
                  </div>
                  <div class="row">
                    <% @home = Home.find_by id: @room.id %>
                    <%= @home.address %>
                  </div>
                  <div class="row">
                    <%= @room.number_room %>
                  </div>
                  <div class="row">
                    <%= @room.number_room %>
                  </div>
                  <div class="row">
                    <%= @room.price %>
                  </div>
                </div>
              </div>
              <button class="btn submit"><span class="glyphicon glyphicon-check"></span><%= link_to "Đặt phòng", controller: "rooms", action: "bookroom", id: @room.id %></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
