<div id="page-inner">
  <div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading"><i class="fa fa-list"></i><%= t(".in_title") %></div>
      <div class="panel-body">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th><%= t(".in_a") %></th>
              <th><%= t(".in_b") %></th>
              <th><%= t(".in_c") %></th>
              <th><%= t(".in_d") %></th>
              <th><%= t(".in_e") %></th>
              <th><%= t(".in_f") %></th>
              <th><%= t(".in_g") %></th>
            </tr>
          </thead>
          <tbody>
            <% if(!@admin_users.nil?) %>
              <%= paginate @admin_users, theme: "twitter-bootstrap-3" %>
              <%= render partial: "admin_user",  collection: @admin_users, as: "admin_user" %>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>
    <button class="btn btn-success"><i class="fa fa-plus"><%= t(".in_add") %></i></button>
    </div>
  </div>
  <hr />
</div>
