<div class="footer">
  <div class="contact">
    <div class="forMe">
      <h3><strong><%= t ".foot_about" %></strong></h3>
      <ul>
        <li><a href="#"><%= t ".foot_intro" %></a></li>
        <li><a href="#"><%= t ".foot_secure" %></a></li>
        <li><a href="#"><%= t ".foot_contact" %></a></li>
        </ul>
    </div>
    <div class="help">
      <h3><strong><%= t ".foot_help" %></strong></h3>
      <ul>
        <li><a href="#"><%= t ".foot_room_instruction" %></a></li>
        <li><a href="#"><%= t ".foot_pay_instruction" %></a></li>
        <li><a href="#"><%= t ".foot_acc" %></a></li>
      </ul>
    </div>
    <div class="ct">
      <h3><strong><%= t ".foot_link" %></strong></h3>
      <ul>
        <li><img src="imgHouse/f.png"></i><a href="#">Facebook</a></li>
        <li><img src="imgHouse/pl.png"><a href="#">Google Plus</a></li>
        <li><img src="imgHouse/t.png"><a href="#">Twitter</a></li>
      </ul>
    </div>
    <div class="addr">
      <h3><strong><%= t ".foot_come" %></strong></h3>
      <ul>
        <li><%= t ".foot_switchboard" %></li>
        <li><%= t ".foot_address" %></li>
        <li><%= t ".foot_license" %></li>
      </ul>
    </div>
  </div>
</div>
