<div class="header"> 
  <div class="ct-signup-login">
    <div class="navbar navbar-inverse">
      <div class="container">
        <nav>
          <ul class="nav navbar-nav navbar-left">
            <li><span class="glyphicon glyphicon-envelope"></span></li>
            <li><a href="#">taitran@gmail.com</a></li>
            <li><span class="glyphicon glyphicon-earphone"></span></li>
            <li><a href="#">123456789</a></li>
          </ul>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><span class="glyphicon glyphicon-user"></span></li>
            <li><a href="#">Sign up</a></li>
            <li><span class="glyphicon glyphicon-log-in"></span></li>
            <li><a href="#">Log In</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <nav class="navbar sticky-top">
    <nav class="navbar">
      <div class="container-fluid">
        <div class="navbar-header" id="logo">
          <a class="navbar-brand" href="#"><img src="imgHouse/logo.png"></a>
        </div>
        <div class="menu">
          <nav class="nav-menu">
            <ul>
              <li><%= link_to "Trang chủ", "#" %></li>
              <li><%= link_to "Phòng trọ", "#" %></li>
              <li><%= link_to "Tin tức", "#" %></li>
              <li><%= link_to "Liên hệ", "#" %></li>
              <li><%= link_to "Giúp đỡ", "#" %></a></li>
            </ul>
          </nav>
        </div>
      </div>
    </nav>
  </nav>
</div>
