<!DOCTYPE html>
<html>
<head>
  <title>
    <%= full_title(yield(:title)) %>
  </title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all",
    "data-turbolinks-track": "reload" %>
  <%= javascript_include_tag "application",
    "data-turbolinks-track": "reload" %>
<meta charset="utf-8">
<style>
</style>
</head>
<body>
  <div class="wrapper" id="admin">
    <%= render "layouts/header_admin"%>
    <nav class=" sidenav" role="navigation" >
      <a href="/home" ><i class="fa fa-desktop "></i><%= t(".ad_home") %><span class="badge"></span></a>
      <% if current_user.role == "admin"%>
      <a href="/admin/users" ><i class="fa fa-desktop "></i><%= t(".ad_a") %><span class="badge"></span></a>
      <a href="/admin/orders/admin_order" ><i class="fa fa-desktop "></i><%= t(".ad_c") %><span class="badge"></span></a>
      <% else %>
      <a href="/admin/homes" ><i class="fa fa-desktop "></i><%= t(".ad_b") %><span class="badge"></span></a>
      <a href="/admin/orders/owner_order" ><i class="fa fa-desktop "></i><%= t(".ad_c") %><span class="badge"></span></a>
      <% end %>

    </nav>
    <div class="content">
      <%= yield %>
    </div>

  </div>
</body>
</html>

